<div class="text-center">
    <h3>Song favorite details:</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Song Name</th>
            <th scope="col">Artist</th>
            <th scope="col">Favorites Count</th>
        </tr>
    </thead>
    <tbody class="table-body">
      

    </tbody>
</table>


<script>
    window.addEventListener('load', function(){
        getSongsFavorites();
    });

</script>